build/
server/
*.mrpack

pakku.jar
forge-*-installer.jar
mrpack-install-windows.exe
mrpack-install-linux
reference/
old-docs/

# remove client config
.pakku/overrides/config/*client.toml
.pakku/overrides/config/*client.json