name: Auto Validate Package and Release

on:
  workflow_dispatch:
    ~
  push:
    branches: [master]
    paths:
      - "pakku.json"
      - "pakku-lock.json"
      - ".pakku/**"
  pull_request:
    branches: [master]
    paths:
      - "pakku.json"
      - "pakku-lock.json"
      - ".pakku/**"

permissions:
  contents: write
  pull-requests: write

jobs:
  json-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: json-validate
        id: json-validate
        uses: GrantBirki/json-yaml-validate@v3.3.2 # replace with the latest version
        with:
          comment: "true"
          base_dir: "src"
          exclude_file: "exclude.txt"

  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Create mrpack archive
        run: |
          cd .pakku/client-overrides/BiliBiliMediaFiles

          wget https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-n8.0-latest-win64-lgpl-8.0.zip
          unzip ffmpeg-n8.0-latest-win64-lgpl-8.0.zip
          mv ffmpeg-n8.0-latest-win64-lgpl-8.0/bin/ffmpeg.exe .
          rm -f ffmpeg-n8.0-latest-win64-lgpl-8.0.zip
          rm -rf ffmpeg-n8.0-latest-win64-lgpl-8.0

          cd ../../../
          
          wget https://github.com/juraj-hrivnak/Pakku/releases/download/latest/pakku.jar
          chmod 755 pakku.jar
          java -jar pakku.jar export

          mv ./build/modrinth/*.mrpack ./KumoOTagayasu-build.mrpack

      - name: Delete existing release assets
        uses: mknejp/delete-release-assets@v1
        with:
          fail-if-no-assets: false
          tag: build
          assets: |
            KumoOTagayasu-build.mrpack
            Server-KumoOTagayasu-build.zip
          token: ${{ secrets.GITHUB_TOKEN }} # Required for authentication

      - name: Upload .mrpack file to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "build"
          files: "KumoOTagayasu-build.mrpack"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build server
        run: |
          mkdir server
          mv KumoOTagayasu-build.mrpack ./server
          cd server
          wget https://github.com/nothub/mrpack-install/releases/download/v0.21.0-beta/mrpack-install_0.21.0-beta_linux_amd64.tar.gz
          tar -xzf mrpack-install_0.21.0-beta_linux_amd64.tar.gz
          chmod 755 mrpack-install
          ./mrpack-install KumoOTagayasu-build.mrpack --server-dir ./
          rm -f KumoOTagayasu-build.mrpack
          rm -f mrpack-install_0.21.0-beta_linux_amd64.tar.gz
          rm -f mrpack-install
          rm -f forge-*-installer.jar
          rm -f forge-*-installer.jar.log
          zip -r "../Server-KumoOTagayasu-build.zip" ./*
          
      - name: Upload server file to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "build"
          files: "Server-KumoOTagayasu-build.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
