name: Auto Validate, Build, Release & Test

on:
  workflow_dispatch:
    ~
  push:
    branches: [master]
    paths:
      - "pakku.json"
      - "pakku-lock.json"
      - ".pakku/**"
  pull_request:
    branches: [master]
    paths:
      - "pakku.json"
      - "pakku-lock.json"
      - ".pakku/**"

permissions:
  contents: write
  pull-requests: write

jobs:
  json-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: json-validate
        id: json-validate
        uses: GrantBirki/json-yaml-validate@v3.3.2 # replace with the latest version
        with:
          comment: "true"
          base_dir: "src"
          exclude_file: "exclude.txt"

  build-release-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Client
        run: |
          cd .pakku/client-overrides/BiliBiliMediaFiles

          wget https://github.com/BtbN/FFmpeg-Builds/releases/download/latest/ffmpeg-n8.0-latest-win64-lgpl-8.0.zip >/dev/null 2>&1
          unzip ffmpeg-n8.0-latest-win64-lgpl-8.0.zip >/dev/null 2>&1
          mv ffmpeg-n8.0-latest-win64-lgpl-8.0/bin/ffmpeg.exe .
          rm -f ffmpeg-n8.0-latest-win64-lgpl-8.0.zip
          rm -rf ffmpeg-n8.0-latest-win64-lgpl-8.0

          cd ../../../
          
          wget https://github.com/juraj-hrivnak/Pakku/releases/download/v1.3.2/pakku.jar >/dev/null 2>&1
          chmod 755 pakku.jar
          java -jar pakku.jar export

          mv ./build/modrinth/*.mrpack ./KumoOTagayasu-build.mrpack
          mv ./build/curseforge/*.zip ./KumoOTagayasu-build.zip

      - name: Delete existing release assets
        uses: mknejp/delete-release-assets@v1
        with:
          fail-if-no-assets: false
          tag: build
          assets: |
            KumoOTagayasu-build.zip
            KumoOTagayasu-build.mrpack
            Server-KumoOTagayasu-build.zip
            Full-Server-KumoOTagayasu-build.zip
          token: ${{ secrets.GITHUB_TOKEN }} # Required for authentication

      - name: Upload client file to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "build"
          files: |
            KumoOTagayasu-build.mrpack
            KumoOTagayasu-build.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build server
        run: |
          cp installer/install-server.sh ./install-server.sh 
          chmod +x install-server.sh
          ./install-server.sh 

      - name: Package server files
        run: |
          mkdir -p installer/.pakku
          cp pakku.json installer/
          cp pakku-lock.json installer/
          cp -r MCDR/ installer/
          cp -r .pakku/overrides/ installer/.pakku/
          cp -r .pakku/server-overrides/ installer/.pakku/
          
          shopt -s dotglob
          zip -r "Server-KumoOTagayasu-build.zip" ./installer
          zip -r "./Full-Server-KumoOTagayasu-build.zip" ./server
          shopt -u dotglob

      - name: Upload server file to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "build"
          files: |
            Server-KumoOTagayasu-build.zip 
            Full-Server-KumoOTagayasu-build.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Minecraft server and validate startup
        run: |
          cd server 
          chmod +x run.sh

          ./run.sh > server.log 2>&1 &
          SERVER_PID=$!

          echo "Test Server started with PID $SERVER_PID"

          for i in {1..30}; do
            if grep -q 'Done ([0-9.]\+s)! For help, type "help"' server.log; then
              echo "Server started successfully, running for additional 5 minutes to check stability."
              sleep 300
              if ! kill -0 $SERVER_PID 2>/dev/null; then
                echo "Server process crashed"
                break
              fi
              echo "Server started successfully"
              exit 0
            fi
            if ! kill -0 $SERVER_PID 2>/dev/null; then
              echo "Server process crashed"
              break
            fi
            sleep 10
          done

          echo "Server did not start successfully within timeout or crashed"
          echo "Show log:"
          cat logs/latest.log

          if ls crash-reports/*.txt 1> /dev/null 2>&1; then
            echo "Crash reports found:"
            cat crash-reports/*.txt
          else
            echo "No crash reports found."
            cat logs/latest.log
          fi
          exit 1